.login-form{
  display: flex;
  flex-direction: column;
  width: 200px;
  form{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    justify-content: space-between;
  }
}
