<ng-container *ngIf="auth.authTrue">
  <div class="main-container">
    <header class="header-2">
      <div class="branding">
          <a href="..." class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Reqruto Admin</span>
          </a>
      </div>
      <div class="header-nav">
          <a routerLink="robin" routerLinkActive="active" class="nav-link"><span class="nav-text">Robin Management</span></a>
          <a routerLink="refr" routerLinkActive="active" class="nav-link"><span class="nav-text">Refr Management</span></a>
      </div>
      <div class="header-actions">
          <a (click)="logout()" class="nav-link nav-icon">
            <clr-icon shape="logout"></clr-icon>
          </a>
      </div>
    </header>
    <nav class="subnav">
      <ul class="nav">
        <li class="nav-item" *ngFor="let item of subnav.subnavItems | async">
            <a class="nav-link" routerLink="{{item.route}}" routerLinkActive="active">{{item.title}}</a>
        </li>
    </ul>
    </nav>
    <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!auth.authTrue">
  <app-login></app-login>
</ng-container>
